{% load staticfiles %}
{% load browserid %}

<!DOCTYPE html>
<html lang="en">

<head>
	<title>{% block title %}Base Page{% endblock %}</title>
	{% browserid_css %} 
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	
	<link rel="stylesheet" type="text/css" href="{% static 'rematchrApp/base.css' %}" />
	
	{% block style %}
	{% endblock %}

</head>

<body>
{% browserid_info %}
<div id="container">

<div id="header">
	<h1>{% block maintitle %}Base Page{% endblock %}</h1>
</div>

{% block menubar %}
<div id="menubar">
	<ul>
	<li><a href="/rematchrApp/">Home</a></li>	
	<li><a href="/rematchrApp/about/">About</a></li>	
	<li><a href="/rematchrApp/account/">Account</a></li>
	</ul>	
</div>
{% endblock %}

<div id="content">
{% block content %}
Base Page Content
{% endblock %}
</div>

<div class="gap"></div>>

<div id="footer">
{% block footer %}
	<a href="http://www.github.com/ctames/rematchr/">Rematchr on  GitHub</a>
	  -  Rematchr is modeled after <a href="https://github.com/ctames/TextAnalysis/">this project</a>
	<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
	{% browserid_js %}
{% endblock %}
</div>

</div> <!-- end of container div -->
</body>
</html>
