<h1>{{ conference.title }}</h1>
<h2>Researchers</h2>
<ul>
{% for researcher in conference.researcher_set.all %}
	<li><a href=
	"/rematchrApp/conferences/{{ conference.id }}/researchers/{{ researcher.id }}/">
		{{ researcher.lastname }}, {{ researcher.firstname }}</a></li>
{% endfor %}
</ul>
<h2>Reviewers</h2>
<ul>
{% for reviewer in conference.reviewer_set.all %}
	<li><a href=
	"/rematchrApp/conferences/{{ conference.id }}/reviewers/{{ reviewer.id }}/">
		{{ reviewer.lastname }}, {{ reviewer.firstname }}</a></li>
{% endfor %}
</ul>
